.main_content
	#recipe_top.row
		.col-md-4
			= image_tag @recipe.image.url, class: "recipe_image"
		.col-md-8
			#recipe_info
				%h1= @recipe.title
				%p.description= @recipe.description
				%p
					Submitted by
					= @recipe.user.email

	.row
		.col-md-6
			#ingredients
				%h2 Ingredients
				%ul
					- @recipe.ingredients.each do |ingredient|
						%li= ingredient.name
						%p=  ingredient.quatity

		.col-md-6
			#directions
				%h2 Directions
				%ul
					- @recipe.directions.each do |direction|
						%li= direction.step
						%br

	.row
		.col-md-12

			= link_to "Atrás", root_path, class: "btn btn-default", "data-role" => "button", "data-theme" => "a", "data-icon" => "back", "data-rel" => "back"
			= link_to "Editar", edit_recipe_path, class: "btn btn-default", "data-role" => "button", "data-theme" => "a", "data-transition" => "slide", "data-icon" => "edit"
			= link_to "Eliminar", recipe_path, method: :delete, data: {confirm: "¿Estás seguro?" }, "data-role" => "button", "data-theme" => "b", "data-rel" => "dialog", "data-icon" => "delete", class: "btn btn-default"
